{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row">
    <div class="col-md-12">
        <h2> About Us</h2>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, quaerat ullam! Excepturi enim eveniet ut obcaecati officia rerum voluptas, repudiandae dolorum adipisci reprehenderit nisi sunt dolor. Vel assumenda doloremque dolorem!</p>
    </div>
    <div class="col-md-6">
        <h2> VISION</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vel, ipsum incidunt fugit repellat perferendis quibusdam impedit nobis dolor, atque laudantium aliquam minus illum vero excepturi nihil voluptates dolorum consectetur!</p>
    </div>
    <div class="col-md-6">
        <h2> Mission </h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vel, ipsum incidunt fugit repellat perferendis quibusdam impedit nobis dolor, atque laudantium aliquam minus illum vero excepturi nihil voluptates dolorum consectetur!</p>
</div>
</div><!--about end-->
<h2 class="mt-4">Statistics</h2>
<hr>
<div class="row">
    <div class="col-md-4 mt-4 shadow p-3">
        <h4 class="text-danger text-center">10000+</h4>
        <h4 class="text-center"> Happy Customers</h4>
        <hr> 
    </div>
    <div class="col-md-4 mt-4 shadow p-3">
        <h4 class="text-danger text-center">20000+</h4>
        <h4 class="text-center"> ORDERED DELIVERED</h4>
        <hr> 
    </div>
    <div class="col-md-4 mt-4 shadow p-3">
        <h4 class="text-danger text-center">600+</h4>
        <h4 class="text-center"> PRODUCTS</h4>
        <hr> 
    </div>
</div>
{% endblock 'main' %}