{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row">
    <div class="col-md-8 mt-4 mx-auto">
        <div class="row">

            {% for x in products %}

            <div class="col-md-6">
                <img src="{{x.pid.pimage.url}}"  alt=".." width="100%" height="250px">
            </div>
            <div class="col-md-6">
              <p><strong>Product Name:</strong>&nbsp; &nbsp; &nbsp;{{x.name}}</p>
              <p><strong>Price:</strong>&nbsp; &nbsp; &nbsp;{{x.price}}</p>


              {% if x.category == 1 %}
              <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Mobile</p>
              {% elif x.category == 2 %}
              <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Shoes</p>
              {% elif x.category == 3 %}
              <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Laptop</p>
              {% elif x.category == 4 %}
              <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Clothes</p>
              {% else %}
              <p><strong>Category:</strong>&nbsp; &nbsp; &nbsp;Tws</p>
              {% endif %}
              
              
              <p><strong>Product detail:</strong>&nbsp; &nbsp; &nbsp;{{x.pdetails}}</p>
              <br>
              <a href="/addtocart/{{x.id}}"><button class="btn btn-info">Add to cart</button></a>
              <a href="/viewcart"><button class="btn btn-secondary">View cart</button></a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/home"><button class="btn btn-warning">Shop more</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock 'main' %}